.dict-list {
  background: var(--clr-neutral-800);
}

.dict-list .dl_item {
  background: var(--clr-white);
  border-bottom: 1px solid var(--clr-neutral-100);
  position: relative;
}
.dict-list .dl_item:hover {
  background: var(--clr-neutral-100);
  cursor: pointer;
}
.dict-list .dl_item:hover .vocab_c {
  background: var(--clr-white);
}

.dict-list .dl_item .cj-k {
  line-height: 1em;
}

.dict-list .dl_t {
  padding: 12px 15px;
  font-weight: normal;
  font-size: 26px;
}
.dict-list .dl_t .r {
  font-size: 0.8em;
  padding: 0;
  display: inline-block;
  margin-left: 0.5rem;
  color: var(--clr-554433);
}

.dict-list .dl_t_menu {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 20px;
  color: var(--clr-neutral-300);
}
.dict-list .dl_item:hover .dl_t_menu {
  color: var(--clr-neutral-500);
}

/* picked item */
.dict-list .dl_item--pick .dl_t_menu,
.dict-list .dl_item--pick:hover .dl_t_menu {
  color: var(--clr-e2b437);
}

/* "known" word (contains known kanji) */
.dict-list .dl_t .known,
.dict-list .dl_item:hover .known {
  background: var(--clr-e6f2cd);
  color: var(--clr-206717);
}

.dict-list .dl_d {
  padding: 0 20px 1em;
  font: 14px/1.3em Arial, sans-serif;
  color: var(--clr-neutral-800);
}

/* --------------------------------------------------------------------
// Dictionary Lookup Component
//   FIXME : should go to a future "dict dialog" Vue comp.
// -------------------------------------------------------------------- */
.dict-panel {
  background: var(--clr-white);
  max-height: 80vh;
  overflow-y: auto;
}

.dict-list_info {
  padding: 1em 20px 1px;
  color: var(--clr-838279);
  background: var(--clr-white);
}

/* ===================================================== */
/* Visual formatting shared by DictList & FlashcardKanji */
/* ===================================================== */

/* box-ing the compound for separation */
.vocab_c {
  display: inline-block;
  padding: 3px 8px 4px;
  border-radius: 8px;
  background: var(--clr-efeeed);
  color: var(--clr-221100);
}

/* the <em> surrounding tags originate in KoohiiFormat mixin, used by DictEntry.r and VocabPick.reading */
.vocab_r em {
  border-bottom: 2px solid var(--clr-ff4e4e); /*color:#ff4e4e;*/
  font-style: normal;
}
