#
# NOTE - the main .gitignore is at the root of the symfony
#        project in /src
#

# macOS
.DS_Store

# not public / work-in-progress and personal files
__*

# docker / private files
docker/db/bash/.bash_history
docker/php-apache/bash/.bash_history

# docker / database persistence
mysql56/
