version: '3'
services:

  web:

    build:
      context: ./docker
      dockerfile: ./php/Dockerfile

    container_name: kk_webserver
    
    depends_on:
      - db

    image: kk_webserver_img  

    # 3000 Vite server
    ports:
      - "80:80"
      - "3000:3000"

    volumes:
      - ./src:/var/www/html
      
      # make it easier to edit/update aliases
      - ./docker/bash/.bash_aliases:/root/.bash_aliases

      # preserve bash history
      - ./docker/php/.bash_history:/root/.bash_history


  db:
    build:
      context: ./docker
      dockerfile: ./db/Dockerfile
    
    container_name: kk_mysql

    environment:
      MYSQL_DATABASE:      db_github
      MYSQL_USER:          koohii
      MYSQL_PASSWORD:      koohii
      MYSQL_ROOT_PASSWORD: root

    image: kk_mysql_img
    
    ports:
      - "3306:3306"

    restart: always
    
    volumes:
      - ./mysql56:/var/lib/mysql

      # sources to initialize development database
      - ./docker/db/initdb.d:/docker-entrypoint-initdb.d

      # make it easier to edit/update aliases
      - ./docker/bash/.bash_aliases:/root/.bash_aliases

      # preserve bash history
      - ./docker/db/.bash_history:/root/.bash_history
