/* See main.build.scss for Tailwind import explanation */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);

/* tailwind customization */
@import "../css/_tailwind.css";

@import "../study/components/KoStudySearch.css";

@import "../review/components/_EditFlashcardDialog.css";
@import "../study/components/_EditStory.css";

#EditStoryComponent {
  margin: 0 0 2em;
}

.edition {
  padding-left: 0.5em;
  font-size: 0.83em; /* 10px */
  color: var(--color-muted-fg);
}

#rtkmain {
  margin-bottom: 1em;
}

/* ------------------ */
/* Dictionary         */
/* ------------------ */
#DictStudy {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 1em;
}

#DictHead {
  font-size: 1.1em;
  line-height: 33px;
  padding: 0 15px;
  zoom: 1;
  color: var(--clr-646250);
  cursor: pointer;
  text-shadow: 0 1px var(--clr-ffffffbf);

  background: var(--clr-cfd67f); /* Old browsers */
  background: -webkit-linear-gradient(
    top,
    var(--clr-cfd67f) 0%,
    var(--clr-e3ecb1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(
    to bottom,
    var(--clr-e3ecb1) 0%,
    var(--clr-cfd67f) 100%
  ); /* W3C */
}

/* ------------------ */
/* Shared Stories     */
/* ------------------ */

#SharedStoriesComponent {
  padding-top: 0;
}

.sharedstories_title {
  margin: 0 0 12px;
  font-size: 1.1em;
  line-height: 33px;
  padding: 0 15px;
  zoom: 1;
  text-shadow: 0 1px var(--clr-ffffffbf);
  position: relative; /* for the toggle icon */
}

/* "Favourites" */
#sharedstories-top {
  padding: 0 0 4px;
}
#sharedstories-top .title {
  margin: 0 0 1em;
  color: var(--clr-583d8a);
  text-shadow: 0 1px var(--clr-ffffffbf);

  background: var(--clr-ddcdfc); /* Old browsers */
  background: linear-gradient(
    to bottom,
    var(--clr-e4d9ff) 0%,
    var(--clr-d2c8e5) 100%
  ); /* W3C */

  border-bottom: 1px solid var(--clr-b5a5d5);
}

/* when a story is favourited, do not show the report icon (this avoids some inconsistencies) */
#sharedstories-top .report {
  display: none;
}

/* New & updated" */
#sharedstories-new .title {
  color: var(--clr-646250);
  cursor: pointer;

  /* http://colorzilla.com/gradient-editor/#eeedd0+0,d9d6b7+100 */
  background: var(--clr-eeedd0); /* Old browsers */
  background: linear-gradient(
    to bottom,
    var(--clr-eeedd0) 0%,
    var(--clr-d9d6b7) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  border-bottom: 1px solid var(--clr-bdbcaa);
}

/* Shared stories (main section) */
#sharedstories-fav .title {
  color: var(--clr-42651d);
  margin-top: 1.5em;

  /* http://colorzilla.com/gradient-editor/#d9f5bf+0,cde8ad+100 */
  background: var(--clr-d9f5bf); /* Old browsers */
  background: linear-gradient(
    to bottom,
    var(--clr-d9f5bf) 0%,
    var(--clr-cde8ad) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  border-bottom: 1px solid var(--clr-bccdac);
}

/* newest stories toggle */
#sharedstories-new.JsHide .title {
  margin-bottom: -1.5em;
}
#sharedstories-new.JsHide .sharedstory {
  display: none;
}

/* shared stories paged list */
#SharedStoriesListComponent .uiPagerDiv {
  background: var(--clr-lime-100);
  margin: -12px 0 15px;
  padding: 6px 20px;
}
#SharedStoriesError p {
  color: var(--clr-935a00);
  background: var(--clr-ffe5b2);
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 1em;
}

/* single public story */
.sharedstory {
  font-size: 16px;
}

.sharedstory_author {
  font-size: 80%;
}
.sharedstory_author a {
  display: inline-block;
  padding: 0.3em 0.5em 0.5em 0; /*tap target*/
  text-decoration: none;
}

.sharedstory.rtkframe {
  padding: 8px 15px 5px;
  border-bottom: 1px solid var(--clr-neutral-300);
}
/*.sharedstory.rtkframe strong  { font-weight:bold; }*/
/*.sharedstory.rtkframe em  { font-weight:normal; font-style:italic; }*/

.sharedstory em.star {
  font-style: normal;
  margin: 0 8px 0 0;
}

.sharedstory_meta {
  min-height: 30px;
  margin: 0.5em -0.5em 0 0;
  font-size: 14px;
  line-height: 1em;

  @apply flex items-center;

  .lastmodified,
  .sharedstory_btn {
    color: var(--clr-neutral-400);
  }
}

.sharedstory-actions {
  @apply ml-auto; /* push flex item to the right end */
}

.sharedstory_btn {
  display: inline-block;
  padding: 0.5em 0.5em;
}
.sharedstory_btn,
.sharedstory_btn:focus {
  text-decoration: none;
}
.sharedstory_btn span {
  margin-left: 0.5em;
}

/* desktop :hover */
.sharedstory_btn:hover {
  color: var(--clr-neutral-800);
  text-decoration: none;
}
.sharedstory_btn:hover .fa-exclamation,
#my-stories .fa-exclamation {
  color: var(--clr-red-300);
}
.sharedstory_btn:hover .fa-star:before,
#my-stories .fa-star:before {
  color: var(--clr-f0c000);
}

/* shared stories hide/unhide reported stories */
.sharedstory .JsUnhide {
  color: var(--clr-red-500);
  font-size: 10px;
  margin-left: 1em;
}
#SharedStoriesComponent .is-moderated .rtkframe {
  opacity: 0.5;
  background: none;
  border: none;
  padding: 0 0 6px;
}
#SharedStoriesComponent .is-moderated .story {
  display: none;
}

/* MY STORIES */
/* big kanji on desktop, line up with framenum on mobile */
.mystories-kanji {
  float: left;
  color: var(--clr-black);
  text-align: center;
  line-height: 1em;
  font-size: 1.5em;
  width: 1.5em;
  padding: 0 0.25em 0 0;
  margin-left: -0.25em;
  margin-top: 0.25em;
}

/* line up kanji, framenum on mobile */
.mystories-hd {
  display: table; /*width:100%;*/
  margin: 0 0 0.7em;
  color: var(--clr-neutral-800);
}
.mystories-hd .td {
  display: table-cell;
}
.mystories-hd_fn {
  width: 1%;
  padding: 0.5em 0.25em 0;
  color: var(--clr-neutral-600);
  vertical-align: top;
}
.mystories-hd_kw {
  text-align: right;
  font-family: Georgia, serif;
  font-size: 1.125em;
}
.mystories-hd_kw a {
  text-decoration: none; /* tap target */
  display: inline-block;
  padding: 0.3em 0;
}
.mystories-hd_kw a:hover {
  text-decoration: underline;
}

/* "100% correct way" sm */
@media (min-width: 600px) {
  /* show background between vertica stories */
  .sharedstory {
    margin-bottom: 0.5em;
  }

  /* big kanji to the left on desktop */
  #my-stories .rtkframe {
    padding-left: 6.25em;
  }
  .mystories-kanji {
    margin-left: -85px;
    width: 80px;
    font-size: 3.5em;
  }
}

/* ------------------ */
/* Study Search       */
/* ------------------ */

#browse {
  background: var(--color-box-bg);
  padding: 10px 15px;
  border-bottom: 1px solid var(--clr-daccb1);
}

#txtSearch {
  padding: 10px 12px;
  height: 37px; /* same height as the < > buttons */
  line-height: 1;
}

.ko-Btn--search {
  @apply block;
  --ko-btn-text: var(--clr-stone-800);
  --ko-btn-bg: var(--color-box-bg-dark);
  --ko-btn-border: var(--color-box-bg-dark);
  --ko-btn-hover-bg: var(--clr-stone-500);
  --ko-btn-hover-border: var(--clr-stone-500);
  --ko-btn-hover-text: var(--clr-stone-950);
}

/* switch search box to dark mode in mobile */
@media only screen and (max-width: 1023px) {
  #browse {
    background-color: var(--clr-neutral-800);
  }
  .ko-Btn--search {
    --bg: var(--clr-neutral-900);
    --ko-btn-text: var(--clr-stone-700);
    --ko-btn-bg: var(--bg);
    --ko-btn-border: var(--bg);
    --ko-btn-hover-bg: var(--clr-black);
    --ko-btn-hover-border: var(--clr-black);
  }
}

/* --------------------------------------------------------------------
// Our own utilities & Tailwind utilities
//  imported last, so that we can override component styles (in CSS files)
//  with utilities in the templates.
// -------------------------------------------------------------------- */
@import "../css/_utilities.css";

@import "tailwindcss/utilities.css";
