/* Dictionary Lookup Component */

#DictStudy {
  padding-top:0; padding-bottom:0; margin-bottom:1em;
}

#DictHead { 
  font-size:1.1em; line-height:33px; padding:0 15px; zoom:1;
  color:#646250; cursor:pointer;
  text-shadow:0 1px rgba(255,255,255,0.75);

  background: #cfd67f; /* Old browsers */
  background: -webkit-linear-gradient(top,  #cfd67f 0%,#e3ecb1 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  #e3ecb1 0%,#cfd67f 100%); /* W3C */
}

#DictPanel {  color:#111; }
.dict-list { margin:0; background:#fff; }
.dict-list .cj-k  { line-height:1em; }
.dict-list dt    { padding:1em 20px;  border-top:1px solid #eee; font-weight:normal; }
.dict-list dt .c { font-size:22px; padding:0; display:inline-block; color:#000; /*border-radius:3px;*/ }
.dict-list dt .r { font-size:16px; padding:0; display:inline-block; margin:0 0 0 1em; color:#888; }
.dict-list dd    { padding:0 20px 1em; font:14px/1.3em Arial, sans-serif; color:#444; }

.dict-list dt u  { color:#f00; text-decoration:none; }

/* message when no words are found */
#DictBody .info { padding:1em 20px 0; color:#838279; }
