// ====================================================================
// KOOHII BUTTONS
//
//  Base:
//
//    ko-Btn            Adds drop-shadow, handles :focus, :hover etc
//
//  Colors:
//
// ====================================================================

// --------------------------------------------------------------------
// Base class
// --------------------------------------------------------------------
.ko-Btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: none;

  border-radius: $--border-radius-md;
  padding: 0.375rem 0.75rem;
}

.ko-Btn {
  @include button-color($bg: #f1f1f1, $text: $--color-text-body, $shadow: none);
}

// --------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------
.ko-Btn {
  @include button-color($bg: $--color-btn-default);
}
.ko-Btn--primary {
  @include button-color($bg: $--color-btn-primary);
}
.ko-Btn--danger {
  @include button-color($bg: $--color-btn-danger);
}
.ko-Btn--success {
  @include button-color($bg: $--color-btn-success);
}

// --------------------------------------------------------------------
// Sizes
//
//   Note selector specificity required due to element's `.el-button.is-round`
// --------------------------------------------------------------------
.ko-Btn {
  @include font($--button-font-size-md);
  padding: 7px 14px; // ~36px height
  border-radius: $--border-radius-lg;
}

.ko-Btn--small {
  @include font($--button-font-size-sm);
  padding: 4px 8px; // ~31 px height
  border-radius: $--border-radius-lg;
}

.ko-Btn--large {
  @include font($--button-font-size-lg);
  padding: 8px 14px; // ~42px height
  border-radius: $--border-radius-lg;
}

// --------------------------------------------------------------------
// Misc. special styles
// --------------------------------------------------------------------
// push buttons (note :hover & :active same style due to touch :active -> :hover)
.btn-go {
  color: #fff;
  background-color: #5cb85c;
  border: none;
  border-bottom: 3px solid #318a31;
}
.btn-go:active,
.btn-go:hover {
  color: #fff;
  border-bottom-width: 1px;
  margin-top: 2px;
}
.btn-lg.btn-go {
  padding: 12px 16px 10px;
}
