.dict-list {
  background: #444;
}

.dict-list .dl_item {
  background: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
}
.dict-list .dl_item:hover {
  background: #eee;
  cursor: pointer;
}
.dict-list .dl_item:hover .vocab_c {
  background: #fff;
}

.dict-list .dl_item .cj-k {
  line-height: 1em;
}

.dict-list .dl_t {
  padding: 12px 15px;
  font-weight: normal;
  font-size: 26px;
}
.dict-list .dl_t .c {
  font-size: 1em;
  padding: 5px 8px 3px;
}
.dict-list .dl_t .r {
  font-size: 0.8em;
  padding: 0;
  display: inline-block;
  margin: 0 0 0 1em;
  color: #543;
}

.dict-list .dl_t_menu {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 20px;
  color: #ccc;
}
.dict-list .dl_item:hover .dl_t_menu {
  color: #888;
}

/* picked item */
.dict-list .dl_item--pick .dl_t_menu,
.dict-list .dl_item--pick:hover .dl_t_menu {
  color: #e2b437;
}

/* "known" word (contains known kanji) */
.dict-list .dl_t .known,
.dict-list .dl_item:hover .known {
  background: #e6f2cd;
  color: #206717;
}

.dict-list .dl_d {
  padding: 0 20px 1em;
  font: 14px/1.3em Arial, sans-serif;
  color: #444;
}

// --------------------------------------------------------------------
// Dictionary Lookup Component
//   FIXME : should go to a future "dict dialog" Vue comp.
// --------------------------------------------------------------------
.dict-panel {
  background: #fff;
  max-height: 80vh;
  overflow-y: auto;
}

/* desktop & wider screens */
@media screen and (min-width: 701px) {
  /* Review page only: fix the width inside the dialog from getting too wide */
  .yui-panel .dict-panel {
    width: 400px;
  }
}

.dict-list_info {
  padding: 1em 20px 1px;
  color: #838279;
  background: #fff;
}

/* ===================================================== */
/* Visual formatting shared by DictList & FlashcardKanji */
/* ===================================================== */

/* box-ing the compound for separation */
.vocab_c {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 8px;
  background: #efeeed;
  color: #210;
}

/* the <em> surrounding tags originate in KoohiiFormat mixin, used by DictEntry.r and VocabPick.reading */
.vocab_r em {
  border-bottom: 2px solid #ff4e4e; /*color:#ff4e4e;*/
  font-style: normal;
}
