/* ====================================================================
// THE LANDING PAGE (guest visitors)
//
//   ! This stylesheet is ONLY included on the landing page, so generic
//   CSS won't cascade to other pages.
//
// ==================================================================== */

body {
  background: var(--clr-stone-200);
  color: var(--clr-stone-950);
}

/* ---------------------------- */
/* Common :: typography */
/* ---------------------------- */
section {
  text-align: center;
  font-size: 16px;
  padding: 10px 0 40px;

  h2 {
    @apply font-bold;
    font-size: 1.61em;
    line-height: 1em;
    margin-bottom: 0.5em;
    color: var(--clr-neutral-800);
  }

  p {
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 1.5em;
  }
}

/* Medium devices (desktops) */
@media only screen and (min-width: 1024px) {
  /* up lg */
  section {
    text-align: left;
    font-size: 21px;
    padding: 50px 0 40px;
  }
  section p {
    margin-bottom: 1em;
  }
}

/* ---------------------------- */
/* backgrounds */
/* ---------------------------- */
.k_bg_head {
  background: var(--clr-eae6db); /* Old browsers */
  background: linear-gradient(
    to bottom,
    var(--clr-eae6db) 0%,
    var(--clr-dfdbce) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.k_bg_even {
  background: var(--clr-stone-200);
}
.k_bg_odd {
  background: var(--clr-stone-50);
}
.k_bg_free {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8c5e4+0,f0ddd4+100 */
  background: var(--clr-f8c5e4); /* Old browsers */
  background: linear-gradient(
    to bottom,
    var(--clr-f8c5e4) 0%,
    var(--clr-f0ddd4) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* illustrations */
.f_box {
  display: block;
  text-align: center;
  overflow: hidden;
}
.f_box img {
  display: inline-block;
}

.f_text {
  @apply mt-8 mb-8;
}

.f_shadow {
  box-shadow: 0 1px 2px 1px var(--clr-00000033);
}

.f_dict {
  margin: 0 auto;
  max-width: 413px;
  overflow: visible; /*dont clip shadow*/
}
.f_dict_clip {
  width: 100%;
  background: url("/koohii/landing/f_dict-20171010.png") no-repeat 0 0;
  height: 306px;
}

.f_fc_layers {
  display: inline-block;
  position: relative;
  max-width: 426px;
  padding-bottom: 29px;
}
.f_fc_desktop {
}
.f_fc_mobile {
  position: absolute;
  left: 61%;
  top: 29px;
}

@media (max-width: 460px) {
  .f_box .f_fc_desktop {
    display: none;
  }
  .f_fc_mobile {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
  }
}

/* ---------------------------- */
/* HERO (big intro, desktop) */
/* ---------------------------- */

#hero h1 {
  padding: 1.5em 0.5em 1.2em;
  font-weight: bold;
  line-height: 1.1em;
  color: var(--clr-neutral-900);

  font-size: 40px;

  @media only screen and (min-width: 768px) {
    /* up md */
    font-size: 53px;
  }
  @media only screen and (min-width: 1024px) {
    /* up lg */
    font-size: 53px;
  }
}

#hero_display {
  width: 777px;
  height: 454px;
  background: url("/koohii/landing/hero_display.png") no-repeat 0 0;

  @apply pt-px; /* prevent children margin collapse */

  img {
    display: block;
    @apply mt-[45px] ml-[45px];
  }

  @media screen and (max-width: 799px) {
    display: none;
  }
}

/* ---------------------------- */
/* Its free */
/* ---------------------------- */

#its-free {
  text-align: center;
}
#its-free h2 {
  margin: 0 0 0.4em;
  font-weight: bold;
  font-size: 2.3em;
  line-height: 1.2em;
}
#its-free p {
  font-size: calc(18 / 16 * 1rem);
  line-height: 1.5em;
  margin: 0 0 0.9em;
}
#its-free .transition {
  width: 100%;
  height: 29px;
  background: url("/koohii/landing/bubbles_gdt.png") repeat-x 0 0;
}
#its-free section {
  font-size: inherit;
  padding-top: 41px;
}
#its-free,
#its-free h2 {
  color: var(--clr-8b1566);
}
#its-free a {
  color: var(--clr-e400b1);
  text-decoration: none;
}

#its-free .ko-ButtonSignup {
  background-color: var(--clr-a4156c);
  border-radius: 0.25rem;
  padding: 21px 82px;
  color: var(--clr-white);
  font-size: 21px;
  line-height: 1em;
  text-decoration: none;
  box-shadow: 0 1px 2px 1px var(--clr-00000033);
}
#its-free .learnmore {
  display: inline-block;
  color: var(--clr-b10081);
  font-size: 21px;
  line-height: 3em;
  text-decoration: underline;
}

/* ---------------------------- */
/* Footer */
/* ---------------------------- */
#footer-landing {
  background: var(--clr-neutral-950);
  padding: 2em 0 5em;
  text-align: center;
  font-size: 17px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0;
    font-weight: normal;
  }
  a {
    padding: 0 0.8em; /*tap target*/
    color: var(--clr-stone-600);
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:hover .fa {
    color: var(--clr-white);
  }

  /* fontawesome icons */
  .fa {
    margin-right: 0.5em;
  }
}

/* RESPONSIVE LAYOUT */

@media only screen and (max-width: calc(768px - 0.02px)) {
  /* down md */
  #footer a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  #footer .ne {
    display: none;
  }
}
