#---------------------------------------------------------------------------
# Cursor Up / Down  autocompletes from history
#---------------------------------------------------------------------------
"\e[A": history-search-backward
"\e[B": history-search-forward

#---------------------------------------------------------------------------
# Ctrl + Cursor Left / Right  to move between args
#---------------------------------------------------------------------------
"\e[1;5D": backward-word
"\e[1;5C": forward-word
