/**
 * Kanji Flashcard Review
 *
 * VUE REFACTORING
 *
 *   This bundle remains until Edit Story dialog, Edit Keyword, etc. become
 *   Vue components.
 *
 *   All the styles moved to KoohiiFlashcard.vue component. Ideally they need
 *   to go into a "flashcard review page" parent component. But for now the
 *   point is that these will be part of a webpack bundle for the Flashcard
 *   Review page.
 *
 *   In retrospect I moved these styles too early since the following make
 *   this bundle still necessary...
 *   
 */

/* =require "/revtk/components/EditKeywordDialog.css" */
/* =require "/revtk/components/EditFlashcardDialog.css" */


/* ---------------------------- */
/* Extracted CSS from .vue templates (cf. webpack.config.js => ExtractTextPlugin ) */
/* ---------------------------- */

/* =require from "%WEB%" */
/* =require "/build/pack/review-bundle.css" */
