/**
 * Labs "alpha" (experimental features) -- Simple random test of vocabulary
 *
 * Juicer build:
 *  php lib/juicer/JuicerCLI.php -v --webroot web --config apps/koohii/config/juicer.config.php --infile web/revtk/labs-alpha.juicy.css
 * 
 *
 * @author  Fabrice Denis
 */

/* =require from "%WEB%" */
/* =require "/revtk/bundles/flashcardreview-1.0.juicy.css" */

/* ! START FROM THE KANJI FLASHCARD REVIEW STYLES !  */
/* =require "/revtk/kanji-flashcardreview.juicy.css" */



/* side buttons */
#uiFcStats .uiIBtn { text-align:center; font-weight:normal; margin:0 0 0.5em; }
#rd-side .uiIBtn span { font-size:14px; font-weight:normal; }


/* card buttons */

#uiFcBtnAC { width:100%; background:#6fa300;
  background: -webkit-linear-gradient(top,  #6fa300 0%,#649300 100%);
  background: linear-gradient(to bottom,  #6fa300 0%,#649300 100%); }


/* flashcard layout */

