/**
 * Labs "alpha" (experimental features) -- Simple random test of vocabulary
 *
 * Juicer build:
 *  php lib/juicer/JuicerCLI.php -v --webroot web --config apps/koohii/config/juicer.config.php --infile web/revtk/labs-alpha.juicy.css
 * 
 *
 * @author  Fabrice Denis
 */

/* =require from "%WEB%" */
/* =require "/revtk/bundles/flashcardreview-1.0.juicy.css" */

/* ! START FROM THE KANJI FLASHCARD REVIEW STYLES !  */
/* =require "/revtk/kanji-flashcardreview.juicy.css" */



/* side buttons */
#uiFcStats .uiIBtn { text-align:center; font-weight:normal; margin:0 0 0.5em; }
#rd-side .uiIBtn span { font-size:14px; font-weight:normal; }


/* card buttons */

#uiFcBtnAC { width:100%; background:#6fa300;
  background: -webkit-linear-gradient(top,  #6fa300 0%,#649300 100%);
  background: linear-gradient(to bottom,  #6fa300 0%,#649300 100%); }


/* flashcard layout */

.fcData { text-align:center; }
.fcData-dispword { display:block; font-size:80px; line-height:1em; padding:50px 0 40px; }
.fcData-dispword a { color:#0065b2; text-decoration:none; }
.fcData-dispword a:hover { background:#eee; color:#000; }

.fcData-reading  { display:block; font-size:27px; color:#0064b2; }
.fcData-glossary { font:18px/1.2em Arial, sans-serif; color:#666; padding:40px 1em 0; }

/* states */
.uiFcState-0 #keyword     { color:#000; }
.uiFcState-0 .fcData-glossary   { visibility:hidden; color:#fff; }
.uiFcState-0 #strokecount { visibility:hidden; }
.uiFcState-0 .fcData-reading { visibility:hidden; }

.uiFcState-1 #keyword     { color:#a0a0a0 }
.uiFcState-1 .fcData-glossary  { visibility:visible; }
.uiFcState-1 #strokecount { visibility:visible; }
.uiFcState-1 .fcData-reading  { visibility:visible; }

/* MOBILE small screens */

@media screen and (max-width:700px) {

  /* réduire la taille des fontes sinon le gloss couvre le bouton en bas */
  .fcData-dispword { font-size:50px; padding-bottom:30px; }
  .fcData-glossary { font-size:17px; padding-top:30px; }
}
