/**
 * uiPager
 *
 */

.uiPager { margin:0; padding:0; float:right; }
.uiPager li { float:left; list-style:none; background:none; border-right:1px solid #E3E0C9; font:11px/1.1em Arial; padding:0; margin:0; }
.uiPager li.active { background:none; font-weight:bold; padding:4px 8px; color:#000; }
.uiPager li.disabled { background:none; font-weight:bold; padding:4px 8px; color:#888888; }
.uiPager li.etc { background:none; padding:4px 8px; color:#888888; }
.uiPager li a { padding:4px 8px; float:left; }
.uiPager li a:hover { background:#E3E0C9; color:#005CB1; text-decoration:underline; }
.uiPager li.next { border:0; }
.uiPager li.prev a,
.uiPager li.next a { font-weight:bold; }
