/**
 * AjaxDialog styling (using YUI 2 Panel).
 * 
 * Basics:
 *
 * - "yui-skin-sam" class is set on the page BODY.
 * - "container/assets/skins/sam/container.css" must be included first.
 * 
 * Skinning a Ajax Dialog (which uses YUI Panel):
 *
 * - Set the "skin" option to AjaxDialog (a class name)
 * - Use the class name in rules, make sure to override YUI rules:
 *   
 *   .yui-skin-sam .yui-panel .hd { ... }
 *
 *   =>  .yui-skin-sam .custom-dialog .hd { ... }
 *
 * Links:
 *   http://www.css3.info/preview/box-shadow/
 *
 * @author   Fabrice Denis
 * @version  2.0
 */

/**
 * Styling defaults for AjaxDialog.
 */
.yui-skin-sam .yui-panel {
  border:none;
  }
.yui-skin-sam .yui-panel .hd,
.yui-skin-sam .yui-panel .bd,
.yui-skin-sam .yui-panel .ft { 
  border:none; margin:0; /* YUI wtf */
  }

.yui-skin-sam .yui-panel-container:focus { outline:none; }

/**
 * Class applied to the document body when using the "invisMask" option.
 */
.yui-invis-mask .mask { background-color:#FFFFFF; opacity:0; /*IE*/filter:alpha(opacity=0); }

/**
 * Nicer shadow.
 */
.yui-skin-sam .underlay { display:none; }

/* Dégradation progressive, screw IE */
.yui-skin-sam .yui-panel {
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

