.ko-PaypalForm {
  /* this fixes a vertical gap when paypal's `pixel.gif` is not yet loaded */
  /* stylelint-disable-next-line selector-max-type */
  form > img[height="1"] {
    width: 1px;
    height: 1px;
  }
}

/* extend our base buttons */
.ko-Btn--patreon {
  /* use Patreon's "Fiery Coral" https://www.patreon.com/brand */
  --ko-btn-bg: var(--clr-ff424d);
  --ko-btn-border: var(--clr-ff424d);
  --ko-btn-text: var(--clr-white);
  --ko-btn-hover-bg: var(--clr-eb3741);
  --ko-btn-hover-border: var(--clr-eb3741);
}

.ko-Btn--paypal {
  --ko-btn-bg: var(--clr-40acda);
  --ko-btn-border: var(--clr-40acda);
  --ko-btn-hover-bg: var(--clr-51b5df);
  --ko-btn-hover-border: var(--clr-51b5df);
}
