/* Used on Study page & Edit Story Dialog (review page) */

/* self story */
.ko-MyStory {
  position: relative;
  background: var(--clr-white);
  --ko-loading-bg: var(--ko-loading-bg-white);
  border: 1px solid var(--clr-e8e5c9);
  box-shadow: 0 1px 2px 0px var(--clr-aaa5824d);

  .bottom {
    width: 100%;
    height: 23px;
    overflow: hidden;
    clear: both;
    background: var(--clr-white);
    background: linear-gradient(
      to bottom,
      var(--clr-white) 0%,
      var(--clr-neutral-50) 100%
    );
  }
}

.rtkframe {
  clear: both;
  position: relative;
  background: var(--clr-white);
  padding: 15px;

  .framenum {
    font-size: 14px;
    line-height: 1em;
    margin: 8px 0 10px;
  }
  .kanji {
    width: 100%;
    min-height: 50px;
    margin: 0 0 8px;
    font-size: 50pt;
    line-height: 1em;
  }
  .strokecount {
    color: var(--clr-neutral-500);
  }
  .keyword {
    font:
      20px Georgia,
      Times New Roman,
      sans-serif;
    text-align: right;
    .edition {
      font-size: 0.6em;
    }
  }

  .favstory {
    margin: 1em 0 0;
    color: var(--clr-neutral-700);
    font-style: italic;
    i {
      margin-right: 0.5em;
      color: var(--clr-neutral-700);
    }
  }
}

.ko-MyStoryView-textarea {
  padding: 5px;
  height: auto;
  min-height: 100px;
  &:hover {
    background: var(--clr-neutral-50);
  }
}

.ko-MyStoryEdit-textarea {
  width: 100%;
  height: 153px;
  padding: 5px;
  border: 1px solid var(--clr-e8e5c9);
  background: var(--clr-neutral-50);
  box-sizing: border-box;
}

.viewtoggle a {
  font-size: 80%;
  font-weight: normal;
  &:active,
  &:visited,
  &:hover {
    font-size: 80%;
    font-weight: normal;
  }
}

/* story content styling (My Stories and Shared Stories) */

.ko-BookStyle {
  color: var(--clr-100800);
  @apply text-sm md:text-base;
  line-height: 1.5em;
  text-align: justify;
  /*ie fix expandbox*/
  word-wrap: break-word;

  em {
    letter-spacing: 0.05em;
  }

  a {
    font-weight: normal;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .is-framenr {
    color: var(--clr-448844);
    font-family: sans-serif;
  }
}

/* Story popup (flashcard review page) kanji shows on mouseover */
.ko-MyStory .onhover {
  span {
    visibility: hidden;
    color: var(--clr-white);
  }

  &:hover {
    background: none;
    span {
      visibility: visible;
      color: var(--clr-black);
      background: var(--clr-white);
    }
  }
}

/* DIALOG mode */

/* desktop dialog : use a fixed width (looks nicer), hide the big close button */
.rtk-skin-dlg .ko-MyStory {
  width: 500px;
  border: none;
}
.rtk-skin-dlg .editstory-close {
  display: none;
}

/* Edit Story dialog / mobile view */
.rtk-mobl-dlg {
  .ko-MyStory {
    box-shadow: none;
    border: none;
  }

  .rtkframe {
    padding-inline: 10px; /* reduce side padding */
  }

  .ko-MyStoryView-textarea {
    /* make the story edit area visible for touch */
    background: var(--clr-neutral-50);
    border-radius: 5px;
  }
}

/* Editable keyword highlight */
.ko-MyStory-keyword {
  padding: 2px 5px;
  border-radius: 3px 3px;

  &:hover {
    background: var(--clr-neutral-100);
  }
}
