/**
 * Edit Keyword Dialog CSS.
 *
 * Used on Study page, Manage > Edit Keywords page.
 *
 */

/* Editable keyword highlight */
.JSEditKeyword {
  padding: 2px 5px;
  border-radius: 3px 3px;

  &:hover {
    background: #e9e9e9;
  }
}
