/**
 * Edit Keyword Dialog CSS.
 *
 * Used on Study page, Manage > Edit Keywords page.
 *
 */

/* (desktop) dialog size - should match width set in AjaxDialog options */
.rtk-skin-dlg .ko-EditKeywordDlg {
  width: 380px;
}

/* Editable keyword highlight */
.JSEditKeyword {
  padding: 2px 5px;
  border-radius: 3px 3px;
}
.JSEditKeyword:hover {
  background: #e9e9e9;
}
