/* ====================================================================
// NOTE! THIS IS LEGACY CSS CODE from Flashcard Review NOT using Vue/Sass/etc
// ==================================================================== */
/* FLASHCARD PAGE LAYOUT  styles  (independent of review modes)                      */
/* This part was the common bundle for php templates kanji & vocab review modes.     */
/* The styles match the php templates, eventually they will move to a corresponding  */
/* parent component, that acts as the container for the flashcard, progress bar, etc */
/* ================================================================================= */

/* Ajax loading indicator (using FontAwesome5 spinners) */
#uiFcAjaxLoading {
  position: absolute;
  right: 22px;
  top: 3px;
  z-index: var(--z-toast);
  padding: 0.5em 0.8em;
  background: #4a9dd6;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  
  @apply flex items-center;

  .fa {
    margin-right: 0.3em;
  }
}

/* Error message */
#uiFcAjaxError {
  position: absolute;
  right: 22px;
  top: 3px;
  z-index: var(--z-toast);
  padding: 0.5em 0.8em;
  background: #c0392b;
  border-radius: 3px;
  color: #ffc9c3;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}
#uiFcAjaxError a {
  color: #fff;
  font-weight: bold;
}

/* we'll turn this into a theme some day, for now it's just a background */
.uiFcLayout {
  /* http://colorzilla.com/gradient-editor/#c4e6ff+0,92c3e4+100 */
  background: #92c3e4;
  background: #92c3e4 linear-gradient(to bottom, #c4e6ff 0%, #92c3e4 100%)
    100%/200% no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* top row of option buttons */
.uiFcOptions {
  margin: 0 0 0.5em;
  padding: 0 0 0 10px;
}

.uiFcOptBtn {
  float: left;
  height: 37px;
  padding: 5px 15px 0;
  margin: -5px 5px 0 0;
  font:
    bold 14px/36px Arial,
    sans-serif;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #50abeb;
  background-image: linear-gradient(to bottom, #50abeb 0%, #489ad4 100%);
}
.uiFcOptBtn:hover,
.uiFcOptBtn:focus {
  color: #e6eefb;
  background-color: #007be3;
  background-image: linear-gradient(to bottom, #268bd2 0%, #227dbd 100%);
}
.uiFcOptBtn u {
  color: #eaf6ff;
  padding-right: 1px;
}
.uiFcOptBtn,
.uiFcOptBtn:hover {
  text-decoration: none;
}
.uiFcOptBtn span {
  cursor: hand;
}

.uiFcOptBtnExit {
}
.uiFcOptBtnHelp {
}
.uiFcOptBtnUndo {
} /* Undo answer */
.uiFcOptBtnStory {
} /* EditStory window */

/* answer button styles */
.uiFcButtons .uiIBtnDefault {
  font-size: 16px;
  line-height: 41px;
  height: 42px;
} /* larger buttons for touch/mobile */

/* flashcard answer area */
.uiFcButtons {
  padding: 15px 0 25px;
  text-align: center;
}
.uiFcButtons-prompt {
  font:
    17px/33px Arial,
    sans-serif;
  color: #408fc6;
  text-align: center;
  margin: 0;
  padding: 0 0 5px;
}
.uiFcButtons a img {
  margin: 0 10px;
}

/* -------------------------------------------------------- */
/* Counter & Progress Bar box */
/* -------------------------------------------------------- */
.ko-FcStBox {
  border-radius: 5px;
  background-color: #94d3ff;
  padding: 5px;
}

.ko-FcStBox-hd {
  @apply text-sm text-[#408fc6] text-center leading-none;
  font-family: Arial, Helvetica, sans-serif;
}

.ko-FcStBox-hd em {
  font-style: normal;
  color: #0a3e62;
}

#uiFcProgressBar .ko-FcStBox-hd {
  margin: 0;
  @apply absolute w-full top-0;
  @apply pt-[3px] md:pt-2;
}

/* -------------------------------------------------------- */
/* Pass/Fail counters */
/* -------------------------------------------------------- */
.ko-FcStCnt {
  font-size: 21px;
  line-height: 1;
  color: #0a3e62;

  .fa {
    font-size: 24px;
    margin-right: 0.2em;
  }
  span {
    color: #474747;
  }
  .fa-check {
    color: #27ae60;
  }
  .fa-times {
    color: #c0392b;
  }
}

/* -------------------------------------------------------- */
/* finish review button ("End") */
/* -------------------------------------------------------- */
.ko-FcStEnd {
  display: block;
  text-align: center;
  font:
    bold 14px/29px Arial,
    sans-serif;
  color: #0097ff;
  background-color: #94d3ff;
  border-radius: 6px;
  @apply px-3 py-1;
  text-decoration: none;
  /* make it look like a button! */
  border-bottom: 4px solid #268bd2;

  &:active,
  &:hover {
    margin-top: 2px;
    border-bottom-width: 2px;
    background-color: #7dc2f3;
    color: #fff;
  }
}

/* Help dialog */
.rtk-skin-dlg .uiFcHelpDlg {
  max-width: 350px;
}
.uiFcHelpDlg p {
  margin: 0 0 1em;
  font-size: 14px;
}

/* ----------------------------------------------------- */
/* MAIN PAGE LAYOUT  */
/* ----------------------------------------------------- */
.ko-FCR-body {
  width: 720px;
  @apply mt-13 mx-auto;
  padding: 0 10px;
}

.ko-FCR-tops {
  float: right;
  width: 175px;
  margin-bottom: 12px;
}

.ko-FCR-main {
  float: left;
  width: 500px;
}

.ko-FCR-side {
  float: right;
  width: 175px;
}

#uiFcProgressBar {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.JSFcStats {
  font-family: Arial, sans-serif;
}

/* ================================================================================= */
/* MOBILE LAYOUT (common styles) */
/* ================================================================================= */
@media screen and (max-width: 767px) {
  /* overwrite the response layout of the desktop (including the media query styles) */
  .ko-FCR-body {
    width: auto;
    margin-top: 0;
  }

  .ko-FCR-tops {
    float: none;
    width: 100%;
    padding-top: 4px;
  }

  .ko-FCR-main {
    float: none;
    width: 100%;
    margin: 0;
  }

  .ko-FCR-side {
    float: none;
    width: 250px;
    margin: 0 auto;
  }

  #uiFcButtons {
    padding: 12px 0 15px;
  }
  #uiFcButtons u {
    text-decoration: none;
  } /* hide the keyboard shortcut hints */

  /* remove prompts to save space */
  .uiFcButtons-prompt {
    display: none;
  }

  #uiFcReview {
    width: auto;
    margin: 0 auto;
    position: relative;
  }

  #uiFcProgressBar .ko-FcStBox-hd {
    color: #ddd;
    font-weight: normal;
  }
  #uiFcProgressBar .ko-FcStBox-hd em {
    color: #fff;
  }

  /* hide the keyboard shortcuts help */
  .JSBtnHelp {
    display: none;
  }

  /* error messages */
  #uiFcAjaxLoading {
    height: 32px;
    position: absolute;
    right: 22px;
    top: 3px;
  }
  #uiFcAjaxLoading span {
    /* hide "loading" label */
    display: none;
  }

  #uiFcAjaxError {
    height: 32px;
    position: absolute;
    right: 22px;
    top: 3px;
  }
}

/* ================================================================================= */
/* KoohiiFlashcard    (this component)  (common styles vs child view styles) */
/* ================================================================================= */

.uiFcCard {
  display: block;
  position: relative;
  margin: 0 auto; /* center within TD */
  background: #fff;

  /* card size */

  width: 100%;
  height: 366px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2); /* works in Firefox 25 */
}
