.ko-StudySearchDD {
  --color-highlight: #1d4ed8;

  /* slightly wider than the search box above */
  width: 250px;

  @apply mt-1 bg-white border border-gray-200 rounded-lg shadow-xl;
  z-index: var(--z-overlay);

  /* the search term highlighted part  */
  em {
    font-style: normal;
    font-weight: 800;
    color: var(--color-highlight); /*#1d4ed8;*/
  }
}

.ko-StudySearchDD-item {
  @apply px-[10px] py-2 border-b last:border-b-0 border-gray-100 transition-colors;

  display: flex;
  align-items: center;

  &.is-active {
    background-color: #dbeafe;
    border-left: 4px solid #3b82f6;

    .ko-StudySearchDD-index {
      color: var(--color-highlight);
    }
  }
  &:hover {
    background-color: #f3f4f6;
    cursor: pointer;
  }
}

.ko-StudySearchDD-keyword {
  width: 74%;
  font-size: 16px;
  line-height: 1.2em;
  color: var(--color-text-body);
}

.ko-StudySearchDD-kanji {
  font-size: 24px;
  line-height: 1;
  color: #222;
}

.ko-StudySearchDD-index {
  margin-left: auto;
  font-size: 14px;
  color: #888;
}
