/* ==================================================================== */
/* Box - Simple card with rounded corners */
/* */
/*   Inherited properties: */
/*   */
/*     --ko-box-px */
/*     --ko-box-py */
/* */
/* ==================================================================== */

.ko-Box {
  --ko-box-bg: var(--color-bg-box);

  background-color: var(--ko-box-bg);
  border-color: var(--ko-box-bg);
  border-width: 2px;
  border-radius: var(--border-radius-lg);
  padding: var(--ko-box-py, 14px) var(--ko-box-px, 14px);
}
/* a style of bordered box, clear filling */
.ko-Box--stroke {
  background: transparent;
  border-width: 2px;
  border-color: var(--ko-box-bg, transparent);
}

/* colors : derived from the message colors, see _tailwind.css */
.ko-Box--danger {
  --ko-box-bg: color-mix(in srgb, var(--color-danger), var(--clr-white) 75%);
  color: var(--color-danger);
  .ko-Box-title {
    color: var(--color-danger);
  }
}
.ko-Box--danger.ko-Box--stroke {
  /* slightly darker for border variant */
  --ko-box-bg: color-mix(in srgb, var(--color-danger), var(--clr-white) 50%);
}

.ko-Box--success {
  --ko-box-bg: color-mix(in srgb, var(--color-success), var(--clr-white) 75%);
  color: var(--color-success);

  .ko-Box-title {
    color: var(--color-success);
  }
}

.ko-Box--warning {
  --ko-box-bg: color-mix(in srgb, var(--color-warning), var(--clr-white) 75%);
  color: var(--color-warning);

  .ko-Box-title {
    color: var(--color-warning);
  }
}

.ko-Box-title {
  @apply font-bold;
  color: var(--color-fg-bd);
  font-size: min(15px + 0.5vw, 18px);
}
