/* ==================================================================== */
/* KOOHII BUTTONS */
/* */
/*  Base: */
/* */
/*    ko-Btn                   Handles :focus, :hover etc */
/* */
/*  Colors: */
/* */
/*    ko-Btn--danger */
/*    ko-Btn--primary */
/*    ko-Btn--success */
/* */
/*    ko-Btn--editcard */
/* */
/*  States: */
/* */
/*    is-ghost                 Use outline aka "ghost" style */
/*    is-disabled              Use grayed out colors */
/* */
/*  Sizes: */
/* */
/*    ko-Btn--small            ~31px high, 14px text */
/*    ko-Btn                   ~36px high, medium size, good for forms */
/*    ko-Btn--large            ~41px high, good for primary actions/ux */
/* */
/* */
/*    @see /ux page for live demos */
/* */
/* ==================================================================== */

/* -------------------------------------------------------------------- */
/* Base class */
/* -------------------------------------------------------------------- */
.ko-Btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  transition: none;

  border-radius: var(--border-radius-md);

  /* apply colors */
  background-color: var(--ko-btn-bg);
  background-image: var(--ko-btn-image, none);
  border-color: var(--ko-btn-border);
  color: var(--ko-btn-text);

  /* apply :hover */
  /* apply :focus */
  &:hover,
  &:focus {
    background-color: var(--ko-btn-hover-bg);
    border-color: var(--ko-btn-hover-border);
    color: var(--ko-btn-hover-text);
    text-decoration: none; /* when applied to <a> */
  }

  /* visual feedback for pressed state */
  &:active {
    transform: scale(0.975, 0.95);
  }

  /* */
  &.is-disabled {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
      background-color: var(--ko-btn-disabled-bg);
      border-color: var(--ko-btn-disabled-border);
      color: var(--ko-btn-disabled-text);
    }
  }
}

/* -------------------------------------------------------------------- */
/* Colors */
/* -------------------------------------------------------------------- */
.ko-Btn {
  --ko-btn-bg: var(--color-btn-default);
  --ko-btn-border: var(--color-btn-default);
  --ko-btn-text: var(--color-fg-btn);
  --ko-btn-hover-text: var(--color-fg-btn);
  --ko-btn-hover-bg: color-mix(in srgb, var(--ko-btn-bg), var(--clr-black) 8%);
  --ko-btn-hover-border: color-mix(in srgb, var(--ko-btn-border), var(--clr-black) 8%);
  --ko-btn-disabled-bg: var(--color-bg-btn-disabled);
  --ko-btn-disabled-border: var(--color-bg-btn-disabled);
  --ko-btn-disabled-text: var(--color-fg-btn-disabled);

  /* (override) warm color for the default outline button */
  &.is-ghost {
    --ko-btn-bg: transparent;
    --ko-btn-hover-bg: transparent;
    --ko-btn-border: var(--color-bg-box-dark);
    --ko-btn-text: var(--clr-stone-800);
    --ko-btn-hover-text: var(--color-fg-bd);
    --ko-btn-hover-border: var(--clr-stone-700);
  }
}

.ko-Btn--primary {
  --ko-btn-bg: var(--color-btn-primary);
  --ko-btn-border: var(--color-btn-primary);
  &.is-ghost {
    --ko-btn-border: var(--color-btn-primary);
    --ko-btn-text: color-mix(in srgb, var(--color-btn-primary), var(--clr-black) 5%);
    --ko-btn-hover-text: color-mix(in srgb, var(--ko-btn-border), var(--clr-black) 10%);
    --ko-btn-hover-border: color-mix(in srgb, var(--ko-btn-border), var(--clr-black) 10%);
  }
}
.ko-Btn--danger {
  --ko-btn-bg: var(--color-btn-danger);
  --ko-btn-border: var(--color-btn-danger);
  &.is-ghost {
    --ko-btn-border: var(--color-btn-danger);
    --ko-btn-text: color-mix(in srgb, var(--color-btn-danger), var(--clr-black) 5%);
    --ko-btn-hover-text: color-mix(in srgb, var(--ko-btn-border), var(--clr-black) 10%);
    --ko-btn-hover-border: color-mix(in srgb, var(--ko-btn-border), var(--clr-black) 10%);
  }
}
.ko-Btn--success {
  --ko-btn-bg: var(--color-btn-success);
  --ko-btn-border: var(--color-btn-success);
  &.is-ghost {
    --ko-btn-border: var(--color-btn-success);
    --ko-btn-text: color-mix(in srgb, var(--color-btn-success), var(--clr-black) 5%);
    --ko-btn-hover-text: color-mix(in srgb, var(--ko-btn-border), var(--clr-black) 10%);
    --ko-btn-hover-border: color-mix(in srgb, var(--ko-btn-border), var(--clr-black) 10%);
  }
}

/* when we want a more "golf" green */
.ko-Btn--lime {
  --ko-btn-bg: var(--clr-lime-600);
  --ko-btn-image: linear-gradient(to bottom, var(--clr-6fa300) 0%, var(--clr-649300) 100%);
  --ko-btn-border: var(--clr-649300);
  --ko-btn-hover-bg: color-mix(in srgb, var(--clr-lime-600), var(--clr-002200) 5%);
  --ko-btn-hover-border: color-mix(in srgb, var(--clr-lime-600), var(--clr-002200) 5%);
}

/* -------------------------------------------------------------------- */
/* Sizes */
/* */
/*   Note selector specificity required due to element's `.el-button.is-round` */
/* -------------------------------------------------------------------- */
.ko-Btn {
  font-size: var(--button-font-size-md);
  padding: 10px 12px; /* ~36px height */
  border-radius: var(--border-radius-lg);
}

.ko-Btn--small {
  font-size: var(--button-font-size-sm);
  padding: 8px 10px; /* ~31 px height */
  border-radius: var(--border-radius-lg);
}

@media only screen and (min-width: 1024px) {
  .ko-Btn--large {
    font-size: var(--button-font-size-lg);
    padding: 12px 14px; /* ~41px height */
    border-radius: var(--border-radius-lg);
  }
}

/* -------------------------------------------------------------------- */
/* Shapes */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* Misc. special styles */
/* -------------------------------------------------------------------- */

/* used on legacy homepage, maybe reuse for something else later */
/*  <button class="ko-Btn ko-Btn--push ko-Btn--xl">... */
.ko-Btn--push {
  --ko-btn-text: var(--clr-white);
  --ko-btn-bg: var(--clr-5cb85c);
  --ko-btn-hover-bg: var(--clr-5cb85c);
  border-radius: var(--border-radius-md);
  border-width: 0 0 0 0;
  border-bottom: 3px solid var(--clr-318a31);

  &:active,
  &:hover {
    border-bottom-width: 1px;
    margin-top: 2px;
  }
}

.ko-Btn--xl {
  font-size: var(--button-font-size-xl);
  border-radius: var(--border-radius-lg);
  padding: 15px 1rem 15px; /* ~51px height */
}

/* -------------------------------------------------------------------- */
/* SRS buttons : used at top of Leitner Chart */
/*   <button ... class="ko-Btn ko-Btn--srs is-srs-new"> */
/*     <strong>15</strong> lorem ipsum */
/*   </button> */
/* -------------------------------------------------------------------- */
.ko-Btn--srs {
  border-radius: var(--border-radius-lg);
  border-width: 0 0 0 0;
  border-bottom: 3px solid var(--clr-318a31);

  font-size: var(--button-font-size-xl);
  padding: 15px 1rem 13px; /* ~49px height */

  /* flashcard count on the button label */
  strong {
    color: var(--clr-white);
  }

  &:active,
  &:focus,
  &:hover {
    border-bottom-width: 1px;
    margin-top: 2px;
  }

  /* srs button colors, derived from the SRS status color (--ko-srs) */
  &.is-srs-due,
  &.is-srs-failed,
  &.is-srs-new {
    --ko-btn-text: color-mix(in srgb, var(--ko-srs), var(--clr-black) 65%);
    --ko-btn-hover-text: var(--ko-btn-text);
    --ko-btn-bg: var(--ko-srs);
    --ko-btn-hover-bg: var(--ko-btn-bg);
    border-bottom-color: color-mix(in srgb, var(--ko-srs), var(--clr-black) 25%);
  }
  &.is-srs-due {
    --ko-srs: var(--color-srs-due);
  }
  &.is-srs-failed {
    --ko-srs: var(--color-srs-fail);
  }
  &.is-srs-new {
    --ko-srs: var(--color-srs-new);
    --ko-btn-bg: color-mix(in srgb, var(--ko-srs), var(--clr-white) 30%);
  }
}

/* -------------------------------------------------------------------- */
/* A "sample" button as used in the Help page, when documentation */
/*  refers to a button (ie. "select *Some Button* to do xyz"). */
/* */
/*   <span class="ko-ExBtn ko-ExBtn--success">The Button</span> */
/* -------------------------------------------------------------------- */
.ko-ExBtn {
  padding: 0.2em 0.4em;
  border-radius: 0.25em;
  margin: 0 0.25em;
  border: 1px solid var(--color-bg-box-dark);
  color: var(--clr-stone-800);
}
.ko-ExBtn--danger {
  border-color: var(--color-btn-danger);
  color: color-mix(in srgb, var(--color-btn-danger), var(--clr-black) 5%);
}

.ko-ExBtn--success {
  border-color: var(--color-btn-success);
  color: color-mix(in srgb, var(--color-btn-success), var(--clr-black) 5%);
}


/* -------------------------------------------------------------------- */
/* Review Button Colors */
/* (these are also used in the documentation cf. "Card Ratings" */
/* -------------------------------------------------------------------- */

/* Flip Card */
.uiFcBtnAF {
  background-color: var(--clr-268bd2);
  background-image: linear-gradient(to bottom, var(--clr-268bd2) 0%, var(--clr-227dbd) 100%);
  --ko-btn-border: var(--clr-227dbd);
  --ko-btn-hover-border: var(--clr-268bd2);
}

/* No */
.uiFcBtnAN {
  background-image: linear-gradient(to bottom, var(--clr-b83600) 0%, var(--clr-a53000) 100%);
  --ko-btn-border: var(--clr-a53000);
  --ko-btn-hover-border: var(--clr-a53000);
}

/* Again */
.uiFcBtnAG {
  background-image: linear-gradient(to bottom, var(--clr-ca4a15) 0%, var(--clr-b84314) 100%);
  --ko-btn-border: var(--clr-b84314);
  --ko-btn-hover-border: var(--clr-b84314);
}

/* Hard */
.uiFcBtnAH {
  background: var(--clr-e68f06);
  background: linear-gradient(to bottom, var(--clr-e68f06) 0%, var(--clr-bb7404) 100%);
  --ko-btn-border: var(--clr-bb7404);
  --ko-btn-hover-border: var(--clr-bb7404);
}

.uiFcBtnAY {
  background: var(--clr-6fa300);
  background: linear-gradient(to bottom, var(--clr-6fa300) 0%, var(--clr-649300) 100%);
  --ko-btn-border: var(--clr-649300);
  --ko-btn-hover-border: var(--clr-649300);
}

/* Easy */
.uiFcBtnAE {
  background-color: var(--clr-2aa198);
  background-image: linear-gradient(to bottom, var(--clr-2aa198) 0%, var(--clr-269189) 100%);
  --ko-btn-border: var(--clr-269189);
  --ko-btn-hover-border: var(--clr-269189);
}

/* "Continue" button (Vocab Shuffle) */
.uiFcBtnAC {
  background: var(--clr-6fa300);
  background: linear-gradient(to bottom, var(--clr-6fa300) 0%, var(--clr-649300) 100%);
  --ko-btn-border: var(--clr-649300);
  --ko-btn-hover-border: var(--clr-649300);
}
