/**
 * Core.Widgets.FilterStd
 * 
 * GoogleAnalytics style radio "switch"
 * 
 * @author   Fabrice Denis
 */

.uiFilterStd .lbl,
.uiFilterStd a {
  padding: 4px 8px 5px;
  font: 10px/1em Verdana, sans-serif;
  text-decoration: none;
}
.uiFilterStd .lbl {
  float: left;
  font-size: 12px;
  color: #666;
  padding-left: 0;
}
.uiFilterStd .tb {
  float: left;
  background: #444;
  padding: 1px 0;
  margin: 0 1px;
}
.uiFilterStd .lr {
  float: left;
  position: relative;
  border-left: 1px solid #444;
  margin: 0 -1px;
}
.uiFilterStd a {
  float: left;
  border-right: 1px solid #444;
  background: linear-gradient(#fff, #ccc);
  color: #000;
  outline: none;
}
.uiFilterStd a:hover {
  text-decoration: none;
  background: linear-gradient(#ddd, #aaa);
}
.uiFilterStd a.active,
.uiFilterStd a.active:hover {
  color: #fff;
  background: linear-gradient(#666, #aaa);
}
