// Landing page ONLY (Nov 2016)

@import "./legacy/_bootstrap-fix.scss";

/* BOOTSTRAP OVERRIDES ( todo: sass truc machin? ) */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  } /* same as min-width 992px */
}

body,
button {
  font-family: "Open Sans", Arial, freesans, sans-serif;
}

/* BODY */

body {
  background: #ece9e2;
  color: #393733;
}

/* LAYOUT */

.clear {
  clear: both;
  overflow: hidden;
  height: 0;
}

.m_top_x {
  margin-top: 10px;
}

/* ---------------------------- */
/* UI */
/* ---------------------------- */

@import "./_theme.scss";
@import "./_navbar.scss";

/* ---------------------------- */
/* SECTIONS */
/* ---------------------------- */

/* backgrounds */
.k_bg_head {
  background: #eae6db; /* Old browsers */
  background: linear-gradient(
    to bottom,
    #eae6db 0%,
    #dfdbce 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.k_bg_even {
  background: #ece9e2;
}
.k_bg_odd {
  background: #f5f2ec;
}
.k_bg_free {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8c5e4+0,f0ddd4+100 */
  background: #f8c5e4; /* Old browsers */
  background: linear-gradient(
    to bottom,
    #f8c5e4 0%,
    #f0ddd4 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* illustrations */
.f_box {
  display: block;
  text-align: center;
  overflow: hidden;
}
.f_box img {
  display: inline-block;
}

.f_text {
}

/*.col-md-pull-6 .f_box { text-align:right; }*/

.f_shadow {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

/* imgHeight / imgWidth * divWidth */
/*.f_box.f_stories { 
  width:100%; height:269px;
  background:url('../koohii/landing/f_stories2.png') no-repeat 0 0 / 100% auto;
}*/

.f_stories {
  margin: -25px auto 0;
  max-width: 400px;
  overflow: visible;
}
.f_stories_clip {
  /*display:block; width:100%; height:334px; background:url('../koohii/landing/f_stories3.png') no-repeat 50% 0 / 100% auto;*/
}
.f_stories_clip img {
  width: 100%;
}

.f_dict {
  margin: 0 auto;
  max-width: 413px;
  overflow: visible; /*dont clip shadow*/
}
.f_dict_clip {
  width: 100%;
  background: url("/koohii/landing/f_dict-20171010.png") no-repeat 0 0;
  height: 306px;
}
.f_srs {
  /*max-width:464px; height:304px;*/
}

.f_fc_layers {
  display: inline-block;
  position: relative;
  max-width: 426px;
  padding-bottom: 29px;
}
.f_fc_desktop {
}
.f_fc_mobile {
  position: absolute;
  left: 61%;
  top: 29px;
}

@media (max-width: 460px) {
  .f_box .f_fc_desktop {
    display: none;
  }
  .f_fc_mobile {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
  }
}

/* ---------------------------- */
/* Common :: typography */
/* ---------------------------- */

section {
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding: 10px 0 40px;
}
section h2 {
  font-size: 1.61em;
  line-height: 1em;
}
section p {
  font-size: 1em;
  line-height: 1.8em;
  margin-bottom: 1.5em;
}

/* ---------------------------- */
/* HERO (big intro, desktop) */
/* ---------------------------- */

#hero {
  text-align: center;
}
#hero h1 {
  margin: 1.5em 0.5em 1.2em;
  font-weight: bold;
  font-size: 3.8em;
  line-height: 1.1em;
  color: #3c3c3c;
}

#hero_display {
  width: 777px;
  height: 454px;
  margin: 0 auto;
  padding: 1px 0 0;
  background: url("/koohii/landing/hero_display.png") no-repeat 0 0;
}
#hero_display img {
  display: block;
  margin: 45px 0 0 45px;
  padding: 0;
}

@media all and (max-width: 799px) {
  #hero_display {
    display: none;
  }
}

/* ---------------------------- */
/* Its free */
/* ---------------------------- */

#its-free {
  text-align: center;
}
#its-free h2 {
  margin: 0 0 0.4em;
  font-weight: bold;
  font-size: 2.3em;
  line-height: 1.2em;
}
#its-free p {
  font-size: 1.3em;
  line-height: 1.5em;
  margin: 0 0 0.9em;
}
#its-free .transition {
  width: 100%;
  height: 29px;
  background: url("/koohii/landing/bubbles_gdt.png") repeat-x 0 0;
}
#its-free section {
  font-size: inherit;
  padding-top: 41px;
}
#its-free,
#its-free h2 {
  color: #8b1566;
}
#its-free a {
  color: #e400b1;
  text-decoration: none;
}

#its-free .col-md-6 {
  text-align: center;
}
#its-free .action {
  margin: 2em 0 0;
}
#its-free .btn-signup {
  background-color: #a4156c;
  padding: 21px 82px;
  color: #fff;
  font-size: 21px;
  line-height: 1em;
  margin-bottom: 1em;
  text-decoration: none;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}
#its-free .learnmore {
  display: inline-block;
  color: #b10081;
  font-size: 21px;
  line-height: 3em;
  text-decoration: underline;
}

/* ---------------------------- */
/* Footer */
/* ---------------------------- */
#footer-landing {
  background: #232323;
  padding: 2em 0 5em;
  text-align: center;
  font-size: 17px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0;
    font-weight: normal;
  }
  a {
    padding: 0 0.8em; /*tap target*/
    color: #a4a19b;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:hover .fa {
    color: #fff;
  }

  /* fontawesome icons */
  .fa {
    margin-right: 0.5em;
  }
}

/*li#tweet-button { margin-left:2em; }
#tweet-button a {
  padding:4px 8px; color:#fff; text-decoration:none; 
  background:#1191dc; border-radius:3px;
}*/

/* RESPONSIVE LAYOUT */

/* Extra small devices (phones, less than 768px) */

@include breakpoint-down(md) {
  /* nav */
  #k_nav .navbar-brand {
    margin-left: 14px;
  }

  /* typo */
  #hero h1 {
    font-size: 2.9em;
  }
  h1 span/*, .break*/ {
    display: block;
  }
  section {
  }

  #footer a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  #footer .ne {
    display: none;
  } /* non essential links */
  li#tweet-button {
    display: block;
    margin-top: 1.5em;
  }
}

/* Small devices (tablets, 768px and up) */

@include breakpoint-up(md) {
  #k_nav .navbar-brand {
    width: 97px;
  }

  /* dropdown on hover */
  .nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* Medium devices (desktops, 992px and up) */

@include breakpoint-up(lg) {
  #header h1 {
    font-size: 36px;
  }

  section {
    text-align: left;
    font-size: 21px;
    padding: 50px 0 40px;
  }
  section p {
    margin-bottom: 1em;
  }

  #its-free section {
    text-align: center;
  }
  #its-free .col-l {
    text-align: right;
  }
  #its-free .col-r {
    text-align: left;
  }
  #its-free .learnmore {
    margin-left: 80px;
  }
}
