// legacy stylesheets imported by webpack in the review bundle
// for legacy comppnents not using Vue.

@import "@css/components/_EditKeywordDialog.scss";
@import "@css/components/_EditFlashcardDialog.scss";
@import "@css/components/_EditStory.scss";

body {
  padding-top: 0;
}
