/* See main.build.scss for Tailwind import explanation */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);

/* tailwind customization */
@import "./vendor/_tailwind.css";

/* old css for components not using Vue */
@import "./components/_EditKeywordDialog.css";
@import "./components/_EditFlashcardDialog.css";
@import "./components/_EditStory.css";

/* old css for the "Flashcard Review" page */
@import "./components/_Flashcard.css";

/* old css for the "Kanji Flashcard" layout */
@import "./components/_FlashcardKanji.css";

body {
  padding-top: 0;
}

/* --------------------------------------------------------------------
// Flashcard Review buttons
// -------------------------------------------------------------------- */

.ko-Btn--review {
  height: 42px;
  font-weight: bold;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}

/* Flip Card */
.uiFcBtnAF {
  background-color: #268bd2;
  background-image: linear-gradient(to bottom, #268bd2 0%, #227dbd 100%);
  --ko-btn-border: #227dbd;
  --ko-btn-hover-border: #268bd2;
}

/* No */
.uiFcBtnAN {
  background-image: linear-gradient(to bottom, #b83600 0%, #a53000 100%);
  --ko-btn-border: #a53000;
  --ko-btn-hover-border: #a53000;
}

/* Again */
.uiFcBtnAG {
  background-image: linear-gradient(to bottom, #ca4a15 0%, #b84314 100%);
  --ko-btn-border: #b84314;
  --ko-btn-hover-border: #b84314;
}

/* Hard */
.uiFcBtnAH {
  background: #e68f06;
  background: linear-gradient(to bottom, #e68f06 0%, #bb7404 100%);
  --ko-btn-border: #bb7404;
  --ko-btn-hover-border: #bb7404;
}

.uiFcBtnAY {
  background: #6fa300;
  background: linear-gradient(to bottom, #6fa300 0%, #649300 100%);
  --ko-btn-border: #649300;
  --ko-btn-hover-border: #649300;
}

/* Easy */
.uiFcBtnAE {
  background-color: #2aa198;
  background-image: linear-gradient(to bottom, #2aa198 0%, #269189 100%);
  --ko-btn-border: #269189;
  --ko-btn-hover-border: #269189;
}

/* "Continue" button (Vocab Shuffle) */
.uiFcBtnAC {
  background: #6fa300;
  background: linear-gradient(to bottom, #6fa300 0%, #649300 100%);
  --ko-btn-border: #649300;
  --ko-btn-hover-border: #649300;
}

/* --------------------------------------------------------------------
// Our own utilities & Tailwind utilities
//  imported last, so that we can override component styles (in CSS files)
//  with utilities in the templates.
// -------------------------------------------------------------------- */
@import "./_utilities.css";

@import "tailwindcss/utilities.css";
