// --------------------------------------------------------------------
// layout / breakpoints (used by breakpoint mixins)
//
//   References:
//   https://getbootstrap.com/docs/5.0/layout/breakpoints/#available-breakpoints
//
// --------------------------------------------------------------------

// "Medium" : tablets (portrait)
$--bp-md: 768px; // 768px = 48rem

// "Large" : tablets (landscape), laptops and desktops in unmaximized browser windows
$--bp-lg: 992px; // 992px = 62rem

// "Extra large" : wide laptop & desktop browser windows
$--bp-xl: 1280px; // 1280px = 80rem
