// ====================================================================
// Redesigned homepage dashboard (2022)
// ====================================================================

@use "sass:color" as color;

// --------------------------------------------------------------------
// base class for the entire dashboard
// --------------------------------------------------------------------
.ko-Dash {
  //////////////////////////////////////////////////////////////////
  // the little SRS isometric icons
  //////////////////////////////////////////////////////////////////
  &-srsIso {
    @extend .ko-SrsIso;
    --ko-srs-iso-w: 21px;
  }

  //////////////////////////////////////////////////////////////////
  // "new" and "due" SRS icons with labels - acting as buttons
  //////////////////////////////////////////////////////////////////
  &-srsIcoBtn {
    // note: the height of these "buttons" comes from the parent's `items-stretch`
    @apply text-smx text-body no-underline px-2 cursor-pointer rounded-md;

    &:hover {
      @apply no-underline;

      &.is-new,
      &:focus.is-new {
        background-color: #32b1fc4d; // color.change(#40a8e5, $alpha: 0.3);
      }
      &.is-due {
        background-color: #ff982a6e; //color.change(#f7a247, $alpha: 0.3);
      }
    }
  }
}

.ko-DashBox {
  // main heading
  &-title {
    @apply text-lg font-bold text-body;
  }
}

// --------------------------------------------------------------------
// --------------------------------------------------------------------
.ko-LessonPane {
}

// --------------------------------------------------------------------
// --------------------------------------------------------------------
.ko-LessonMap {
  $height: 41px; // align height with ko-Btn--large
  background-color: #696866;
  padding: 2px;
  height: $height;
  @apply rounded-md;

  // default for the cells
  color: #fff;

  @apply flex items-stretch;
  > * {
    @apply flex-1;
    @apply rounded;
    background-color: #5cb85c;
    margin: 0 1px;
  }
}

// --------------------------------------------------------------------
// --------------------------------------------------------------------
.ko-KanjiGrid {
  @apply flex flex-wrap;

  $gutter: 16px;
  $half-gutter: calc($gutter / 2);
  margin-left: (-$half-gutter);
  margin-right: (-$half-gutter);

  > * {
    margin-left: $half-gutter;
    margin-right: $half-gutter;
    margin-bottom: 1rem;
  }
}

// --------------------------------------------------------------------
// --------------------------------------------------------------------
.ko-KanjiCard {
  --ko-kanjicard-w: 125px;
  --ko-kanjicard-h: calc(var(--ko-kanjicard-w) * 1.315);
  width: var(--ko-kanjicard-w);
  height: var(--ko-kanjicard-h);
  padding: 6px 8px 8px;
  text-align: center;

  @apply flex flex-col items-center;

  //////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////
  background-color: transparent;
  border: 1px dashed rgba(73, 70, 63, 0.2);
  border-radius: 6px;

  &.is-box {
    background: linear-gradient(148.74deg, #f8f7f6 0%, #f8f8f8 80.21%, #ffffff 89.58%, #eaeaea 100%);
    border: 0;
    border-bottom: 1px solid #bab6ae; //hexa(#6c6c6c, .37);
    border-radius: 0;
  }

  &-idx,
  &-kwd {
    @apply font-serif;
    color: #3c3c3c;
    font-size: 15px;
    line-height: calc(19 / 15 * 1em);
  }

  &-chr {
    font-size: 60px;
    line-height: 1;
    color: #313130;
    @apply mt-auto mb-auto; // flex spacings
  }

  &-tag {
    @apply rounded-md text-xs px-2 font-light;
    height: 27px;
    line-height: 27px;
    background-color: #d7d1c4;
    @apply text-body;
  }

  //////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////
  &-tag {
  }

  // card footer / tag default to green for SRS boxes 1+
  &.is-box &-tag {
    color: #fff;
    background-color: #50ac50;
  }
  
  // "Restudy"
  &.is-box-1 &-tag {
    color: #fff;
    background-color: #ef5757;
  }
}
