#
# gitignore for the symfony related files
# 
# for vite (front end build) -- add rules to src/vite/.gitignore
#

# don't automatically add these
.*
!.gitignore
# !.babelrc
# !.eslintrc.js
# !.prettierrc.js
# !.stylelintrc.yml
!/web/.htaccess_default

# php-cs-fixer
!.php_cs
/composer.phar
/tools/*.phar

# generated / logs
*.log
error_log*

# generated / misc files
/cache
/config/vite-build.*

# generated / realfavicon output
/batch/favicon/faviconData.json
/web/favicons
!/web/favicons/README.md

# output of `vite build`
/web/build/dist

# npm install
/node_modules

# composer installs
/vendor

# admin/misc
/web/*.php
!/web/index.php
!/web/index_dev.php
!/web/index_test.php
/web/robots*

# private
/apps/backend
/batch/deploy
/web/backend
/apps/koohii/config/app.yml
/apps/koohii/config/settings.yml
