parameters:
    level: 3
    paths:
        - lib/
        - apps/koohii/lib/
        - apps/koohii/modules/
    excludePaths:
        - vendor/
    bootstrapFiles:
        - vendor/autoload.php
    scanFiles:
        # for the kk_get_*() global stubs that fix types
        - apps/koohii/config/koohiiConfiguration.class.php
