/* ====================================================================
// Flashcard related styles to be decoupled
// ==================================================================== */

/* --------------------------------------------------------------------
// The main background for a kanji card
//
//   - clear white background
//   - very faint gradient in one corner to give depth
//   - a 1px bottom drop shadow
//
//   NO implicit padding, font style/size, text color, etc!
//
//   Use @extend, or apply this class to a component's root element
//
// -------------------------------------------------------------------- */
.ko-FlashcardBg {
  background: linear-gradient(
    148.74deg,
    color-mix(in srgb, var(--color-card-bg), var(--clr-black) 3%) 0%,
    color-mix(in srgb, var(--color-card-bg), var(--clr-black) 4%) 80%,
    var(--color-card-bg) 93%,
    color-mix(in srgb, var(--color-card-bg), var(--clr-black) 7%) 100%
  );

  border: 0;
  /* not themeable for now : a darker shade of the card background */
  border-bottom: 1px solid
    color-mix(in srgb, var(--color-card-bg), var(--clr-black) 24%);
  border-radius: 0;
}
