// theme config file
// 
// TODO
//   - use Tailwind config, or go ahead with this file
//     (if TW, colors can be accessed with @apply in scss, but ... meh)
//   - use more meaningful names than "1m"
//   - create a corresponding color palette in FIGMA

$--clr-bg-body: #f4f0e5;
$--clr-bg-1: #e7e1d3; /* shaded background 1 */
$--clr-bg-nav: #ede8de; /* top nav background color */

$--clr-bg-1m: #ede8de; /* subdued background 1 (lighter) */
$--clr-bg-1s: #d4cdba; /* subdued background 1 : border */

$--clr-bg-gl: #d7ebb4; /* green backgrounds & text */
$--clr-bg-gd: #4c7424;
$--clr-tbl-bg: #f8f6ef; /* widgets: table row (slightly brighter than CSS_BG_1) */

$--clr-srs-due: #f7a247; /* text color for due/undue cards */
$--clr-srs-undue: #72c569;

$--clr-danger-bg: #d9534f;
