/* See main.build.scss for Tailwind import explanation */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css"; 
@source "../../../../apps";

/* old css for components not using Vue */
@import "./components/_EditKeywordDialog.css";
@import "./components/_EditFlashcardDialog.css";
@import "./components/_EditStory.css";

/* old css for the "Flashcard Review" page */
@import "./components/_Flashcard.css";

/* old css for the "Kanji Flashcard" layout */
@import "./components/_FlashcardKanji.css";

body {
  padding-top: 0;
}

/* --------------------------------------------------------------------
// (before-last) our own utilities
//   We want to be able to override our component styles with utilities.
//   For example font-size in `.Box-title` can be overridden by `.ux-text-lg`.
// -------------------------------------------------------------------- */
@import "./_utilities.css";
